header {
 padding-inline: 2rem ;
 padding-block: 1rem;
 font-size: 1.5rem;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 text-decoration: none;
background: #373D20;
}

a {
  text-decoration: none;
  padding: 1rem;
  color: #EFF1ED;
}

a:hover {
  color: #BCBD8B;
  font-size: 2rem;
  border: solid #BCBD8B 3px;
  
}

body {
  background: #EFF1ED;
  color: #766153;
}

.appt {
  display: flex;
  flex-direction: row;

  align-content: baseline ;
  margin-top: 100%;
  color: #717744;
}

input {
  border: solid 1px #766153;
  color:#59632f;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}

label {
  margin-inline: 2rem;
}

button {
  background-color: #BCBD8B;
  color:#373D20;
  font-size: 1rem;
  margin-inline: 2rem;
  margin-block: 1rem;
}

h1 {
  font-size: 3rem;
}

.tod {
  border: #766153 solid 5px;
  height: 35rem;
  margin: 2rem;
  border-radius: .5rem;
  background-image: url(https://pensandjunk.files.wordpress.com/2016/11/img_5888.jpg);
}